@model N2.ContentItem

@if(Model != null && Model.ID != 0)
{
	string imgSize = (string)ViewBag.preferredSize ?? "thumb";
	string contentClass = (string)ViewBag.contentClass ?? "content";
	using (Content.BeginScope(Model))
	{
<div class="contentlink clearfix @(imgSize)Size media">
	@if (Content.Has.Image)
	{
	<a class="img @imgSize pull-left" href="@Content.Current.Item.Url">@Content.Render.Image("Image", imgSize, cssClass: "img-responsive media-object")</a>		
	}
	<div class="@contentClass media-body">
		<h3 class="media-heading"><a class="heading" href="@Content.Current.Item.Url">@Content.Current.Item.Title</a></h3>
		<p class="summary">@Content.Display.Summary</p>
	</div>
</div>
	}
}